# Core Data, Parquet, Database & Direct Kaggle API
pandas>=2.0.0
numpy>=1.24.0
pyarrow>=14.0.0
duckdb>=0.9.0
kagglehub>=0.2.0

scikit-learn>=1.3.0
joblib>=1.3.0
statsmodels>=0.14.0

# Gradient Boosting, Deep Learning & Hyperparameter Tuning
xgboost>=2.0.0
lightgbm>=4.0.0
catboost>=1.2.0
torch>=2.0.0
optuna>=3.3.0

# Backend Inference Microservice
fastapi>=0.104.0
uvicorn>=0.24.0
pydantic>=2.4.0
requests>=2.31.0

# Testing
pytest>=7.4.0
